@font-face {
    font-family: 'Roboto';
    src: url("/git/fonts/RobotoMono-SemiBold.ttf");
} 

body{
    background: rgb(32, 32, 32);
}

div{
    /*width: 100vw;*/
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 150px;
    font-family: 'Roboto';
    animation: pulse 1s infinite;
}

@keyframes pulse{
    0%{
        color: rgb(208, 255, 0);
    }
    100%{
        color: rgb(126, 161, 0);
    }
}